@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #020d2c;
    position: relative;

    header {

        .nav-pages {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            padding: 40px;

            @media (max-width: 768px) {
                justify-content: center;
            }

            #homePage-title {
                @media (max-width: 768px) {
                    display: none;
                }

                h1 {
                    font-size: 50px;
                }
            }

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
            }
        }

    }

    #section-projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 160px 0 0 0;

        @media screen and (max-width: 1024px) {
            padding: 50px 0 0 0;
        }

        .custom-card {
            width: 250px;
            height: 450px;
            padding: 40px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 40px;
                text-align: center;
                color: black;
            }

            p {
                color: black;
                line-height: 20px;

                span {
                    color: black;
                }

                a {
                    color: red;
                    z-index: 1;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            a {
                img {
                    width: 100%;
                }

                img:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
}